spring:
  datasource:
    url: jdbc:mysql://localhost:3306/booking_system
    username: root
    password: Hieuz-12345-z
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  data:
    redis:
      host: localhost
      port: 6379
  jwt:
    signerKey: "ODytKslsP4ccjT5fNo+UrA6umxm5zO/INSWB84GdDVndJzbs2lyRPcMaWCzCa18Z"
    valid-duration: 3600
    refreshable-duration: 7